@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content {
  margin: 3px 0 0;
}
.blog-content p {
  padding: 6px 0;
  line-height: 1.75;
}
.blog-content h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

.blog-content img {
  width: 100%;
  height: auto;
}
